@import "./common/common.less";

.login-panel-wrapper {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: relative;
  .login-title{
    text-align: center;
  }
  .login-panel {
    width: 382px;
    height: 422px;
    margin: auto;
    .bottom-title{
      text-align: center;
    }
  }
}